body {
    background-color: white;
}

.banner {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    float: left;
    padding: 10px 10px;
}

.accenttext {
    color: #7EBAEB;
}

.logotype {
    color: #2a3439;
}

.name {
    text-align: center;
    font-family: monospace;
}

