body {
    background-color: white;
}

.banner {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: block;
    padding: 10px 10px;
    overflow: hidden;
}

.accenttext {
    color: #7EBAEB;
}

.logotype {
    color: #2a3439;
}

.name {
    text-align: center;
    font-family: monospace;
}

.introduction {
    display: inline-block;
    float: left;
    padding: 70px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 350px;
    height: fit-content;
    margin-left: 150px;
}

.introtext {
    color:#2a3439;
    font-size: 40px;
}

.introaccent {
    color: #7EBAEB;
    font-size: 40px;
}

.introaccent:hover {
    font-style: italic;
}

.heroimage {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    border: 8px solid #7EBAEB;
    position: relative;
    margin-top: 50px;
}

.heroimage:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #7EBAEB;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.heroimage img {
    width: auto;
    height: 100%;
}

.header {
    margin-top: 50px;
    margin-bottom: 5px;
    font-style: italic;
    display: inline-block;
    color: #2a3439;
    
}

.languageportfolio {
    margin-top: 5px;
}

.htmlicon {
    margin-right: 10px;
    color: #2a3439;
}

.htmlicon:hover {
    color: #7EBAEB;
}

.cssicon {
    margin-right: 10px;
    color: #2a3439;
}

.cssicon:hover {
    color: #7EBAEB;
}

.jsicon {
    margin-right: 10px;
    color: #2a3439;
}

.jsicon:hover {
    color: #7EBAEB;
}

.giticon {
    margin-right: 10px;
    color: #2a3439;
}

.giticon:hover {
    color: #7EBAEB;
}

.contactheader {
    margin-top: 50px;
    font-size: 30px;
}

.contactaccent {
    color: #7EBAEB;
}

.contactaccent:hover {
    font-style: italic;
}

.contactmethods {
    margin-top: 10px;
}

.aticon a {
    text-decoration: none;
    color: #2a3439;
    margin-right: 10px;
}

.aticon a:hover {
    color: #7EBAEB;
    animation: bounce 2.5s infinite;
}

.githubicon a {
    text-decoration: none;
    color: #2a3439;
    margin-right: 10px;
}

.githubicon a:hover {
    color: #7EBAEB;
    animation: bounce 2.5s infinite;
}

@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}